---
layout: page
title: Mike's CV
tagline: 戴俊的简历
group: navigation
---
{% include JB/setup %}
<div class="container">
<h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Introduction: <small>自我介绍</small></h3>
<div class="row">
	<div class="col-md-2 col-xs-4"><img src="/media/mike.jpg" alt="My photo" class="img-circle img-responsive"></div>
	<div class="col-md-10 col-xs-8">
		<div class="well talkbox right">
			<div class="arrow hidden-print"></div>
			<p class="en">An <abbr title="I get a lot experience at Nextdigital" class="initialism">8+ years</abbr> experiences Front-end developer that passionate about research technique and life. </p>
			<p class="cn">一个有着8年以上前端开发工作经验。 喜欢研究各种最新技术。 热爱生活的一个前端开发。</p>
			<p class="en">Aim to be a Full-Stack developer,  because of the rapidly developed technology make the boundary between Back-end and Front-end are blurred.</p>
			<p class="cn">随着近些年来技术的发展，前端和后端技术的结合愈加紧密， 正立志成为一名合格的全栈开发。</p>
		</div>
	</div>
</div>
<h3><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Ability: <small>能力描述</small></h3>
<ol class="assets">
	{% for item in site.data.assets.items %}
	<li>
		<p>{{item.en}}</p>
		<p>{{item.ch}}</p>
	</li>
	{% endfor %}
</ol>
</div>
<div class="container">
<h3><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> Skill Matrix<sup>2016</sup>: <small>技能表</small></h3>
<div class=" skill-matrix">
	{% for skillCategory in site.data.skills.category %}
	<div class="item">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">{{ skillCategory.name }}</h3>
		  </div>
			{% assign skillDetails = skillCategory.detail | sort:'score' %}
			<ul class="list-group">
				{% for skillDetail in skillDetails reversed %}
			  <li class="list-group-item">
					<p>{{ skillDetail.name }}  <span class="pull-right "><small class="visible-print-inline">Progress:</small><b class="" >{{ skillDetail.score }}%</b></span></p>
					<div class="progress hidden-print">
						<div class="progress-bar
								{% if skillDetail.score >= 80 %}
									progress-bar-success
								{% elsif skillDetail.score >= 60 %}
									progress-bar-warning
								{% elsif skillDetail.score >= 0 %}
									progress-bar-danger
								{% endif %}
						" role="progressbar" aria-valuenow="{{ skillDetail.score }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ skillDetail.score }}%">
							<span class="sr-only ">{{ skillDetail.score }}% Complete</span>
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% endfor %}
</div>
</div>
<div class="container">
	<h3><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Experience: <small>工作经验</small> </h3>
  <div class="row">
    <div class="col-lg-12">
      <ul class="timeline">
				{% for period in site.data.timeline.period reversed %}
				<li class = "{% cycle '', 'timeline-inverted' %} {% if forloop.last == true %} last {% endif %}">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="/media/timeline/logo/{{forloop.rindex0}}.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="subheading">{{ period.name }} </h4>
              <h4 >{{period.start}} ~ {{period.end}}</h4>
							<hr class="hidden-xs">
            </div>
            <div class="timeline-body ">
								<ul class="text-mute">
									{% for description in period.description %}
									<li>
										<p>{{ description.taskE }}</p>
										<p>{{ description.taskC }}</p>
									</li>
									{% endfor %}
								</ul>
								{% if period.site != "" or period.projects != ""%}
								<div class="btn-group btn-group-xs hidden-print" role="group" aria-label="...">
									{% if period.site != "" %}
											<a class="btn btn-default" href="{{ period.site }}" target="_blank"> <i class="glyphicon glyphicon-link"></i> Company</a>
									{% endif %}
									{% if period.projects != "" %}
											<a class="btn btn-default" href="{{ period.projects }}" target="_blank"> <i class="glyphicon glyphicon-briefcase"></i> Projects</a>
									{% endif %}
								</div>
								{% endif %}
            </div>
						<hr class="visible-xs">
          </div>
					{% if forloop.last != true %}
						<div class="line hidden-print"></div>
					{% endif %}
        </li>
				{% endfor %}
      </ul>
    </div>
  </div>
</div>
<!-- <div class="container">
	<h3><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Hobbies: <small>兴趣爱好</small></h3>
	<div class="row">
		{% for hobby in site.data.hobbies.category %}
		<div class="col-sm-4">
			<div class="panel panel-default ">
			  <div class="panel-heading">{{hobby.name}}</div>
				<ul class="list-group">
					{% for detail in hobby.details %}
						<li class="list-group-item">
					    <span class="badge">{{detail.level}}</span>
					    	{{detail.subject}}
					  </li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endfor %}
	</div>
</div> -->
<div class="container">
	<h3><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Contact: <small>联系方式</small></h3>
	<address>
		<br>
		Shanghai, China<br>
		<abbr title="Phone">P:</abbr> (8621)3358 8703
		<abbr title="Mobile">M:</abbr> (8621)189 3070 6272

	</address>

	<address>
		<strong>My Email:</strong><br>
		<a href="mailto:dai.mike@gmail.com">dai.mike@gmail.com</a>
	</address>
</div>
