---
layout: page
title: Mike's Profile
tagline: 戴俊的简历
group: navigation
---
{% include JB/setup %}
<h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Self Introduction: <small>自我介绍</small></h3>



<div class="row">
	<div class="col-md-2 col-xs-4"><img src="/media/mike.jpg" alt="My photo" class="img-circle img-responsive"></div>
	<div class="col-md-10 col-xs-8">
		<div class="well talkbox right">
			<div class="arrow"></div>
			<p class="lead">An <abbr title="I get a lot experience at Nextdigital" class="initialism">8+ years</abbr> experiences front-end developer that passionate about research technique and life. </p>
			<p>一个有着8年以上前端开发工作经验。 喜欢研究各种最新技术。 热爱生活的一个前端开发。</p>
			<p class="lead">Recent years, digital technology is developing rapidly. The boundaries between back-end and front-end are become blurring. Now, aiming to be a Full-Stack developer...</p>
			<p>随着近些年来技术的发展，前端和后端技术的结合愈加紧密， 正立志成为一名合格的全栈开发...</p>
		</div>
	</div>

</div>


<h3><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Ability Describe: <small>能力描述</small></h3>
<ol>
	<li>
		<p>I know how to markup HTML/HTML5 tags correctly and semanticly. And I also have patient to play with WCAG standards. </p>
		<p>能充分理解HTML/HTML5，并正确的使用他们。如果你对WCAG标准也有兴趣，我也能耐心的实现。</p>
	</li>
	<li>
		<p>I using Grunt/Gulp to manage/optimize front-end working process. </p>
		<p>会使用Grunt/Gulp 来管理/优化前端开发流程。</p>
	</li>
	<li>
		<p>Not only coding OOP style for PHP/JavaScript, but also organize the Less/Scss efficiently.</p>
		<p>对像化思维方式编写代码PHP/JS，并藉此将sass/less编译出高效的css. </p>
	</li>
	<li>
		<p>Familiar the technology that jump outside of <abbr title="中国的#网%络@封*锁，使得很多最新的前端技术不为国人所知" class="initialism">GFW</abbr>. Cloud service like Firebase/Codio, MVC framework like Angularjs/Laravel, RESTful API like google/facebook/Wechat,etc.</p>
		<p>熟悉国外的一些先进技术: Firebase/Codio之类的云端服务, Angularjs/Laravel之类的MVC框架, google/facebook/Wechat之类的RESTful api.</p>
	</li>
	<li>
		<p>I like develop responsive website. Developed a lot of projects that using SVG/CANVAS .</p>
		<p>喜欢开发响应式网站。用过svg/canvas开发过一些项目。</p>
	</li>
	<li>
		<p>
			Not just limted in Front-end, I also coding at Back-end side, favorite PHP, curious Python.
		</p>
		<p>
			不仅仅前端，我也会写后端代码, 比较喜欢PHP, 对Python也有兴趣。
		</p>
	</li>
	<li>
		<p>I write comment, and fix bugs in a strict way.</p>
		<p>我写注释, 对bug比较严谨。</p>
	</li>
	<li>
		<p>Even can design, both for web and print. </p>
		<p>甚至会设计，不管是平面的还是数码领域。</p>
	</li>
</ol>
<h3>Skill Matrix - v.2016: <small>技能表 - v.2016</small></h3>

<div class="row skill-matrix">
	{% for skillCategory in site.data.skills.category %}
	<div class="item">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">{{ skillCategory.name }}</h3>
		  </div>
			<ul class="list-group">
				{% for skillDetail in skillCategory.detail %}
			  <li class="list-group-item">
					<p>{{ skillDetail.name }}</p>
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ skillDetail.score }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ skillDetail.score }}%">
							<span class="sr-only">{{ skillDetail.score }}% Complete</span>
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% endfor %}
</div>

Front-End:
HTML: 4/5
CSS: 2/3
Javascript: ES4/5/6
Workflow:Grunt/Gulp/Yeoman
Back-End:
PHP:
MVC:Laravel
CMS:Joomla/October/WordPress
NodeJs:
Others:
Server:
Linux:
Centos:
IDE:
Phpstorm
Atom
VCS:
Github
TFS
Design:
Photoshop
Illustrator
Flash
<h3><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Working Experience: <small>工作经历</small> </h3>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-center">Zigzag Timeline Layout (and Cats)</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <ul class="timeline">
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/1" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Step One</h4>
              <h4 class="subheading">Subtitle</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/2" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Step Two</h4>
              <h4 class="subheading">Subtitle</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/3" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Step Three</h4>
              <h4 class="subheading">Subtitle</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/4" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Step Three</h4>
              <h4 class="subheading">Subtitle</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/5" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Bonus Step</h4>
              <h4 class="subheading">Subtitle</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<dl class="dl-horizontal">
	<dt><a href="http://www.nextdigital.com">Next Digital</a>:</dt>
	<dd>
		<p>All front-end issues, from carving template until migration with Back-end.</p>
		<p>所有前端开发相关的任务。</p>
	</dd>
	<dd>
		<p>Cooperate with designer/project manager for the new project.</p>
		<p>参与项目的设计和研发</p>
	</dd>
	<dd>
		<p>Estimate a project, calculator the time budget of front-end for marketing team.</p>
		<p>预估项目所需时间。</p>
	</dd>
	<dd>
		<p>Fixing bugs. </p>
		<p>修理BUG. </p>
		</a>
	</dd>
	<dd>
		<p>My previous projects can be find in <a href="/projects">here</a>.</p>
		<p>我之前的项目可以在这<a href="/index.html">参考。</a></p>
	</dd>
	<dt>拓客美语:</dt>
	<dd>
		<p>Front-end Developer</p>
		<p>前端开发</p>
	</dd>
	<dd>
		<p>Designing</p>
		<p>设计</p>
	</dd>
	<dt><a href="http://www.hkfsi.org">香港金融管理学院</a>:<dt>
	<dd><p>Website building.</p><p>网站建设</p></dd>
	<dd><p>Daily IT issues.</p><p>处理日常IT事务</p></dd>
	<dd><p>Print Design</p><p>平面设计</p></dd>
</dl>

<h3><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Hobbies: <small>兴趣爱好</small></h3>
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">3km</span>
    Swiming(Freestroke)
  </li>
  <li class="list-group-item">
    <span class="badge">25m</span>
    Swiming(Butterfly)
  </li>
  <li class="list-group-item">
    <span class="badge">1km</span>
    Swiming(Breaststroke)
  </li>
</ul>

<h3><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Contact Information:</h3>
<address>
  <br>
  Shanghai, China<br>
  <abbr title="Phone">P:</abbr> (8621)3358 8703
  <abbr title="Mobile">M:</abbr> (8621)189 3070 6272

</address>

<address>
  <strong>My Email:</strong><br>
  <a href="mailto:dai.mike@gmail.com">dai.mike@gmail.com</a>
</address>
